body {
  padding: 20px;
  background: #c1d1b0;
  font-family: "Quicksand", sans-serif;
}
ul {
  padding: 0px;
}

li {
  font-size: 16px;
  line-height: 1.75;
  list-style-type: none;
  margin-left: 10px;
}

.footer {
  font-size: small;
  text-align: center;
}

.completeApp {
  border: 2px solid rgb(255, 255, 255);
  padding: 15px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 20px;
}

.search-form {
  margin-left: 50px;
}
